.input {
  position: relative;
}

.input--error .input__field {
  border: 1px solid #ff0000;
}

.input--small .input__field {
  height: 36px;
}

.input__field {
  font: 15px 'Open Sans', sans-serif;
  width: 310px;
  height: 52px;
  padding: 0 16px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  border: none;
  border-radius: 2px;
}

.input__hint {
  position: absolute;
  top: 15px;
  display: none;
  margin-left: 15px;
  white-space: nowrap;
  color: #ff0000;
}

.input__hint--visible {
  position: absolute;
  left: 100%;
  display: inline-block;
}

@media (max-width: 480px) {
  .input__hint--visible {
    top: 60px;
    left: 0;
  }
}
